* {
    margin: 0;
    padding: 0;
   
}

:root {
    --primary: #2563eb;
    --background: #f9fafb;
    --text: #1f2933;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: black;
    color:rosybrown;
    line-height: 1.6;


}

.section{
    padding: 20px 10px;
    margin-bottom: 20px;

}

.container{
    max-width: 1000px;
}

main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}


header {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;

}

.btn:hover{
    background-color: #1f2933;
    color: #f9fafb;
}

.container {
  display: flex;
  gap: 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
    
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 37px;
    text-align: center;
}

h3 {
    font-size: 25px;
    

}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

.pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px 450px;
    margin-bottom: 20px;

}

nav {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.btn {
    display: inline-block;
    background-color:#A62639;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}



section {
    margin-bottom: 2rem;
}

article{
    border: #56494E;
    background-color: #511C29;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(211, 163, 163, 0.83);
}



footer {
    text-align: center;
}
